{{if .Error}}
<div class="text-danger text-base">{{.Error}}</div>
{{else if .Jobs}}
<div class="tabs mt-3">
  <button class="active" hx-get="/api/metrics/browse?datasource={{.Datasource}}" hx-target="#metrics-result" hx-indicator="#metrics-spinner" onclick="setActiveJobTab(this)">all jobs</button>
  {{range .Jobs}}
  <button hx-get="/api/metrics/browse?datasource={{$.Datasource}}&job={{.}}" hx-target="#metrics-result" hx-indicator="#metrics-spinner" onclick="setActiveJobTab(this)">{{.}}</button>
  {{end}}
</div>
{{end}}
